/* Resetando margens e padding */
body, html {
    margin: 0;
    padding: 0;
    height: 100%; 
    font-family: "Open Sans", sans-serif;
    background-color: rgb(255, 255, 255);
    color: black;
    display: flex;
    flex-direction: column; 
    font-size: 18px;    
}

.active {
    color: rgb(0, 255, 34);
}